.box1{
    /* margin: auto; */
    text-align: center;
    color: whitesmoke;
    
}
#box1{
    background-color: #564256;
    padding-bottom: 20px;
}
#button{
    background-color: #cf6a3d;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    text-decoration-line: none;
    border-radius: 5%;
    border: 1px solid #564256; 
      
}
#button:hover{
    background-color: rgb(5, 5, 77);   
}
#become_agent{
    font-family: 'Times New Roman';
    font-size: xx-large;
}
#find_home_address{
    font-family: 'Times New Roman';
    font-size: xx-large;
    
}
.h6_tag{
    font-size: smaller;
    font-weight: 600;
}
.li_tag{
    list-style: none;
    font-family: 'Times New Roman';
    font-weight: 50;
    font-size: 0.9em;
}
#box4{
    height: 90vh;
    background-color: #0a0311;
}
#agent{
    font-family: 'Verdana';
    font-size: 1.2em;
    text-transform: uppercase;
}
.our_agents_logo{
    opacity:0.5;
    width: 50%;   
}
.footer_headings{
    font-family:Verdana;
    text-transform: uppercase;
    font-weight: lighter;
    opacity: 0.7;
}
#footer_line1{
    border-bottom: 2px solid gray;
}
#footer_line2{
    border-bottom: 2px solid white;
    margin-top: 1px;
}
#copyright{
    border-radius:60%;
    border: 1px solid white;
    font-size: x-small;
}
#team{
    font-size:0.6em;
}